@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"); */

@theme {
  /* --color-primary-500: #f5e6d3;
  --color-secondary-500: #d96941;
  --color-accent-500: #8e3b46; */

  --color-primary-500: #faf9f6;
  --color-primary-400: rgba(255, 132, 0, 0.2);

  --color-secondary-500: #ffffff;
  --color-secondary-400: #fff5d6;

  --color-accent-500: #cf4307;
  --color-accent-400: #7c6f50;
  --color-accent-300: #ff8400;

  --color-primary-text-500: #130e01; /* Descriptions black */
  --color-secondary-text-500: #553c9a; /* Headings blue*/
  --color-accent-text-500: #cf4307; /* Links orange*/
  --color-accent-btn-text: #fffaeb;
}

body {
  font-family: "Inter", sans-serif;
}

.preloader {
  height: 100vh;
  width: 100%;
  /* background: #F5E6D3; */
  opacity: 0.94;
  color: #d96941;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.preloader .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 480px;
  font-size: 28px;
  font-weight: 600;
  overflow-y: hidden;
}
